body {
    background: beige;
}


.cool {
   visibility: hidden;
    height: 100px;
    width: 100px;
    background-color: grey;
    transition: background-color 2s;
}

.cool.red {
    visibility: visible;
    background-color: red;
}